@font-face {
    font-family: Atteron;
    src: url(Atteron.otf) format("truetype");
}

#Navbar{
    z-index: 9999;
    width: 100%;
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    background-color: #f1d9c3;
    font-size: 20px;
}
#Navbar .Navbar_Title{
    margin-left: 40px;
    margin-right: 40px;
}
#Navbar .Navbar_Title a{
    text-decoration: none;
}
#Navbar span{
    display: flex;
}
#Navbar .Navbar_Title h1{
    font-size: 20px;
    letter-spacing: 2px;
    font-style: italic;
    font-family: 'Cardo', sans-serif;
    color:black;
}
#Navbar .Navbar_Content{
    width: 10%;
    min-width: 100px;
    text-align: center;
}
#Navbar .Navbar_Content:hover{
    background-color: #d7c1ad;
}
#Navbar .Navbar_ListButton{
    visibility: hidden;
}
#Navbar input{
    display: none;
}
@media(max-width:600px){
    #Navbar .Navbar_ListButton{
        visibility: visible;
        position: fixed;
        right: 20px;
        top: 6px;
    }
    #Navbar{
        display: block;
        padding-bottom: -100px;
    }
    #Navbar span{
        display: none;
    }
    #Navbar input:checked~.Navbar_Content:hover{
        background-color: #d7c1ad;
    }
    #Navbar input:checked~span{
        display:flex;
        flex-wrap: wrap;
    }
    #Navbar .Navbar_Content{
        width:100%;
    }
}


body{
    padding:0;
    margin:0;
    background-color: #E3D5C9;
}
#First_Page + #Personality + #Portfolio + #Information{
    height: 100vh;
}

#First_Page{
    height: 765px;
}
#First_Page .Title{
    padding-top: 40px;
    display: flex;
    justify-content: center;
}
#First_Page .Title_content{
    text-align: center;
    font-size: 80px;
    letter-spacing: 5px;
    font-family: 'Atteron', sans-serif;
}
.Hyperlink{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.Hyperlink_content{
    display: flex;
    width: 600px;
    justify-content: space-between;

}
.Hyperlink_content > .Block{
    font-size: 20px;
    font-style: italic;
    font-family: 'Cardo', sans-serif;
    text-align: center;
}
#First_Page .Hyperlink img{
    transform: scale(1,1);
    transition: all 0.5s ease-out;
}
#First_Page .Hyperlink img:hover{
    transform:scale(1.2, 1.2);
    transition: all 0.5s ease-out;
}
@media(max-width: 480px){
    #First_Page .Title_content{
        font-size: 60px;
    }
    #First_Page .Hyperlink_content{
        flex-wrap: wrap;
    }
    #First_Page .Hyperlink img{
        width: 102px;
        height: 102px;
    }
}


.Clear{
    clear:both;
}

#Personality .Title_content{
    margin-left: 60px;
    letter-spacing: 2px;
    font-size: 60px;
    font-family: 'Atteron', sans-serif;
}
#Personality .Content{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
#Personality .Content .Content_content{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
#Personality .Content_content .Block{
    width: 280px;
    font-size:20px;
}
#Personality .Content_content .Block .img_block{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

@media(max-width: 1160px){
    #Personality .Content .Content_content{
        flex-wrap:wrap;
        justify-content: space-evenly;
    }
}
@media(max-width: 480px){
    #Personality .Title_content{
        font-size:40px;
        margin-left: 20px;
    }
    #Personality .Content img{
        width: 175px;
        height: 175px;
    }
}

#Portfolio{
    display: flex;
    justify-content: center;
}
#Portfolio .Content{
    margin-top: 120px;
    display: flex;
    width: 80%;
    justify-content: space-between;
}
#Portfolio .Title_content{
    font-size: 60px;
    letter-spacing: 2px;
    font-family: 'Atteron', sans-serif;
}
#Portfolio .content li{
    font-size: 30px;
}
#Portfolio .img_block_right{
    margin-top: 150px;
    display:flex;
    justify-content: end;
}
#Portfolio .Block_right a{
    color: black;
    text-decoration: none;
}
#Portfolio .Block_right a:hover{
    text-decoration: underline;
    color: blue;
}

@media(max-width: 1110px){
    #Portfolio .Content{
        display: inline;
    }
    #Portfolio .Block_right{
        display: flex;
        justify-content: space-between;
    }
}
@media(max-width: 860px){
    #Portfolio .Block_right{
        display: block;
    }
}
@media(max-width: 480px){
    #Portfolio .Title_content{
        font-size: 40px;
    }
    #Portfolio .content li{
        font-size: 20px;
    }
    #Portfolio .Content img{
        width: 280px;
        height: 200px;
    }
    #Portfolio .Block_right img{
        width: 200px;
        height: 240px;
    }
}

#Information .Title{
    display: flex;
    justify-content: center;
}
#Information .Title_content{
    margin-top: 100px;
    font-size:60px;
    font-family: 'Atteron', sans-serif;
    letter-spacing: 2px;
}
#Information .Content{
    display: flex;
    justify-content: center;
}
#Information .Content .content{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-top: 120px;
}
#Information .Block{
    width: 200px;
}
#Information .Block > p{
    font-size:20px;
}
#Information .answer{
    font-size:15px;
    font-family: 'Cardo',sans-serif;
    font-style: italic;
}
#Information .answer a{
    text-decoration: none;
    color: black;
}
#Information .answer a:hover{
    text-decoration: underline;
    color: blue;
}

@media(max-width:790px){
    #Information .Block{
        width: 30%;
    }
}
@media(max-width: 480px){
    #Information .Title_content{
        font-size: 40px;
    }
    #Information .Content .content{
        margin-top: 50px;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    #Information .Block{
        width: 100%;
    }
}

footer{
    background-color: bisque;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}